.boton-contenedor {
    flex: 1 1;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    border: 2px solid white;
}

.boton-contenedor:hover {
    background-color: pink;
}

.operador {
    background-color: violet;
}

.operador:hover {
    background-color: skyblue;
}